.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background: orangered;
    
  }

.logo {
  margin: 20px;

}

.rightlinks {
  margin: 5px;
}