@import "./mixins";

.Layout {
    flex: 1;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
  
    .Content {

      padding: 20px;
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 20px;

      .box {
         // color: red;
         padding-top: 380px;
         padding-bottom: 10px;
          @include sm {
            padding-top: 10px;
            // color: blue;
          }
          @include xl {
            //  color: orange;
          }
      }
  
      
        
        
    
    }


    
  }